@charset "utf-8";
/* CSS Document */

body{position: relative; margin: 0; padding: 0; overflow:hidden;}
#viewport {
	width: 100%;
	background-image:url(images/nQbpY.png);
	overflow:hidden;
	position:absolute;
	top:0px;
	left:0px;
	z-index: 90
}
#squares {margin:0; padding:0; list-style-type:none}
#squares li {float:left; width: 100%; color: #fff; font-size: 55px; line-height:400px;}

#notifications {position:absolute; top: 0; left:0; height: 20px; background-color: #ddd; z-index: 99; width: 100%;}
#icons{position:absolute; bottom: -100px; left:0; height: 33px; background-color: #eee; z-index: 98; width: 100%; text-align:center;}
#one {background-color: #333;}

.left {float:left;}
.right{float:right}
#icons .left a, #icons .right a {padding: 0px 10px; color: #2489CE; font-weight: bold; text-decoration: none;}

.relative{position: relative}
#leftScreen {position: absolute; top: 4px; left: 0px;}
#rightScreen {position: absolute; top: 4px; right: 0px;}

#notifMenu {background-color: #eee; border-bottom: 4px solid #aaa; position: absolute; top: 20px; left:0px; width: 100%;}


 